.studentfeedback-container {
  width: 85vw;
  margin: 25px 15px;
  margin: 15px auto;
  background-color: white;
}

.studentfeedback-container .selectors {
  display: flex;
  padding: 22px 16px;
  align-items: center;
  gap: 40px;
}

.studentfeedback-container .selectors .select-module {
  display: flex;
  align-items: center;
}

.select-box {
  background-color: white;
  width: 259px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--QMlightgrey);
}

#select-module-text {
  margin: 12px;
}

.studentfeedback-container .selectors .search-student {
  background-color: white;
  width: 320px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--QMlightgrey);
}

.studentfeedback-container .feedback-header-container {
  display: flex;
  padding: 22px 16px;
  border-bottom: 3px solid var(--QMlightgrey);
  color: var(--QMblue);
  font-weight: 700;
}

.started-by-text {
  margin-left: auto;
  width: 25%;
}

.feedback-container {
  display: flex;
  flex-direction: column;
}
.feedback-item {
  display: flex;
  justify-content: flex-start;
  padding: 14px 16px;
  background-color: white;
  align-items: center;
}

.feedback-item.even {
  background-color: rgba(217, 217, 217, 0.5);
}

.tab-container {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tab-container button {
  padding: 20px 30px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  border-bottom: 3px solid transparent;
  font-size: 16px;
  color: #000000;
}

.tab-container button.active {
  border-bottom: 3px solid var(--QMblue);
  font-weight: bold;
}

.feedback-item {
  border-bottom: 1px solid #cccccc;
  padding: 15px 0;
}

.feedback-item.even {
  background-color: #f9f9f9;
}

.feedback-item img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.selectors,
.feedback-header-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.apply-ec-button {
  cursor: pointer;
  background-color: var(--QMblue);
  color: white;
  border-radius: 10px;
  outline: white;
  margin-left: 65%;
  height: fit-content;
  padding: 0.75%;
  margin-top: 2%;
}

.wrapper {
  display: flex;
  flex-direction: row;
}
