.reply-feedback-container {
  width: 80vw;
  margin: 25px auto;
  font-size: 1.2em;
}

.reply-feedback-container h2 {
  color: var(--QMblue);
  margin-bottom: 20px;
}

.reply-feedback-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reply-feedback-container label {
  margin-bottom: 8px;
  color: var(--QMblue);
}

.reply-feedback-container select,
.reply-feedback-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid var(--QMlightgrey);
}

.reply-feedback-container textarea {
  resize: vertical;
  word-wrap: break-word;
}

form p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.reply-feedback-container input[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.reply-feedback-container button {
  padding: 10px 20px;
  background-color: var(--QMblue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8em;
}

.reply-feedback-container button:hover {
  background-color: var(--QMdarkblue);
}

#error-message,
#success-message {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--QMblue);
  padding: 20px;
  border-radius: 10px;
  font-size: 1.1em;
  margin-top: 10px;
}
