.studentfeedback-containerk {
  width: 85vw;
  margin: 25px 15px;
  margin: 15px auto;
}

.studentfeedback-containerk .selectorsk {
  display: flex;
  padding: 22px 16px;
  align-items: center;
  gap: 40px;
}

.studentfeedback-containerk .selectorsk .select-modulek {
  display: flex;
  align-items: center;
}

.select-boxk {
  background-color: white;
  width: 259px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--QMlightgrey);
}

#select-module-textk {
  margin: 12px;
}

.studentfeedback-containerk .selectorsk .search-studentk {
  background-color: white;
  width: 320px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--QMlightgrey);
}

.studentfeedback-containerk .feedback-header-containerk {
  display: flex;
  padding: 22px 16px;
  border-bottom: 3px solid var(--QMlightgrey);
  color: var(--QMblue);
  font-weight: 700;
  font-size: 17px;
}

.started-by-textk {
  margin-left: auto;
  width: 25%;
}

.feedback-containerk {
  display: flex;
  flex-direction: column;
}
.feedback-itemk {
  display: flex;
  justify-content: flex-start;
  padding: 14px 16px;
  height: 60px;
  background-color: white;
  align-items: center;
}

.feedback-itemk.evenk {
  background-color: rgba(217, 217, 217, 0.5);
}

.expanded-itemk {
  border-bottom: 2px solid var(--QMlightgrey);
  line-height: normal;
  padding: 0 16px;
}

#expanded-item-titlek {
  font-weight: 700;
  color: var(--QMblue);
  padding-top: 0.5rem;
}

.profile-pick {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  background: rgb(197, 197, 197);
  overflow: hidden;
}

.reply-btnk {
  background-color: var(--QMblue);
  color: white;
  border-radius: 5px;
  border-color: var(--QMlightgrey);
  padding: 0.5rem;
}

.description-text {
  margin-left: 19%;
}

.profile-name {
  font-weight: bold;
  font-size: 15px;
}

.feedback-title {
  width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px 32px 2px 0;
  color: var(--QMblue);
}

.feedback-description {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px 64px 2px 0;
  font-size: 15px;
}

.feedback-profile {
  width: 25%;
  display: flex;
  gap: 10px;
}
